/*theme
CodeMirror theme file created with CodeMirror-Themes
https://github.com/mkaminsky11/codemirror-themes*/

.cm-s-tomorrow-night-eighties span.cm-comment{color:rgba(122,158,194,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-atom{color:rgba(154,61,194,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-number{color:rgba(41,158,101,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-property{color:rgba(29,117,179,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-attribute{color:rgba(46,56,60,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-keyword{color:rgba(146,56,255,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-builtin{color:rgba(146,56,255,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-string{color:rgba(3,150,79,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-string-2{color:rgba(46,56,60,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-variable{color:rgba(86,194,173,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-variable-2{color:rgba(76,161,194,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-def{color:rgba(52,162,65,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-bracket{color:rgba(206,229,238,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-tag{color:rgba(156,51,40,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-link{color:rgba(46,56,60,1) !important;}
.cm-s-tomorrow-night-eighties span.cm-error{color:rgba(46,56,60,1) !important;}
.cm-s-tomorrow-night-eighties .CodeMirror-activeline-background{color:rgba(46,56,60,1) !important;}
.cm-s-tomorrow-night-eighties .CodeMirror-matchingbracket{color:rgba(68,202,68,1) !important;}
