.main{
      overflow: auto;
      float: left;
      margin:10px;
      resize: both;
      }
      

.editor{
	overflow: hidden;
	border: 1px solid black;
	}

.outputBox{
        height: 10vh;
	border: 2px solid black;
	resize: vertical;
	overflow: auto;
	}

